* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*estilos de boy y main usando grid*/
main {
    display: grid;
    grid-template-columns: 95% auto;
    box-sizing: border-box;
}

body {
    background-image: url("../img/fondo.jpg");
    background-size: 100%;
    max-width: 1200px;
    margin: auto;
}

/*estilo del header y sus imagenes*/
header {
    text-align: center;
}

header img {
    width: 25%;
    padding: 0;
    margin: 0;
    border-width: 0;
}

/*estilo del nav y los links en sus menus*/
.icono_nav {
    width: 100px;
    border-radius: 50px;
}

.nav-link:hover,
.dropdown-item:hover {
    color: blue !important;
    background-color: rgba(228, 146, 217, 0.432) !important;
    border-radius: 5px;
}

nav {
    grid-row: 1;
    grid-column: 1/3;
    z-index: 500;
    height: fit-content;
    --bs-navbar-padding-y: 0 !important;
    --bs-navbar-color: black !important;
}


.dropdown-menu {
    background-color: rgba(224, 255, 255, 0.9);
    width: 100%;
}

.navbar-brand {
    text-align: center;
    width: 50%;
    font-size-adjust: initial;
}

/*estilos de sections y articles con sus estilos de fuente y fondo*/
section {
    grid-column: 1/2;
    grid-row: 2;
    background: linear-gradient(rgba(16, 16, 16, 0.8), rgba(16, 16, 16, 0.8));
    margin: 0;
    padding: 15px;
}

section h2,
h3,
p {
    color: white;
    padding: 15px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

article {
    text-align: center;
}


/*estilo del mapa incrustado*/
.mapa {
    width: 80vw;
    height: 50vh;
    max-width: 800px;
}

/*estilo de los videos incrustados*/
.video {
    width: 640px;
    max-width: 80vw;
    height: 480px;
    max-height: 50vh;
}

/*estilo de aside y el nav con los iconos de las redes sociales para compartir*/
aside {
    grid-column: 2;
    grid-row: 2;
    align-self: start;
    z-index: 10;
    margin: 0;
    display: block;
}

.nav-share {
    position: fixed;
    width: 50px;
    text-align: center;
    transition: all 0.3s linear;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, .4);
    margin-top: 50px;
    border-radius: 5px;
    background-color: rgb(132, 235, 29, 0.5);
}

.nav-share:hover {
    background-color: rgb(132, 235, 29, 1);
}


/*estilo del ancla*/
.icono-arriba {
    width: 50px;
    height: 50px;
    opacity: 0.5;
    position: fixed;
    margin-top: 200px;
}

.icono-arriba:hover {
    opacity: 1;
}

/* estilo del footer*/
footer {
    height: 100%;
    font-size: larger;
    text-align: left;
    padding-left: 5px;
    border: beige solid;
    background-color: aliceblue;
    width: 100%;
}

footer h3 {
    text-align: center;
    color: blueviolet;
}

footer ul {
    text-align: center;
}

footer a {
    text-decoration: none;
    text-align: center;
    width: 150px;
    display: inline-block;
}

/* estilo de los iconos de los links en el footer*/
footer img {
    max-width: 15px;

}

/* estilo de la tabla y sus fotos*/
.table {
    background-color: azure;
    vertical-align: middle;
    width: fit-content;
    margin: auto;
    max-width: 80vw;
}

.foto-tabla {
    max-width: 50%;
    width: fit-content;
}

/* cambia de lugar elaside por una fila debajo del nav al reducir el tamaño de la panalla*/
@media screen and (max-width: 720px) {

    section {
        grid-row: 3;
        grid-column: 1/3;
    }

    aside {
        grid-row: 2;
        grid-column: 1/3;
    }

    .nav-share {
        width: 200px;
        margin-top: 0;
        margin-left: 50px;
        transition: all 0.3s linear;
        box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, .4);
        position: sticky;
    }

    .submenu {
        display: inline;
        width: auto;
    }

    .icono-arriba {

        margin-top: 0;
    }
}