* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*estilos de boy y main usando grid*/
main {
    display: grid;
    grid-template-columns: 95% auto;
    box-sizing: border-box;
}

body {
    background-image: url("../img/fondo.jpg");
    background-size: 100%;
    max-width: 1200px;
    margin: auto;
}

/*estilo del header y sus imagenes*/
header {
    text-align: center;
}

header img {
    width: 25%;
    padding: 0;
    margin: 0;
    border-width: 0;
}

/*estilo del nav y los links en sus menus*/
.icono_nav {
    width: 100px;
    border-radius: 50px;
}

.nav-link:hover,
.dropdown-item:hover {
    color: blue !important;
    background-color: rgba(228, 146, 217, 0.432) !important;
    border-radius: 5px;
}

nav {
    grid-row: 1;
    grid-column: 1/3;
    z-index: 500;
    height: fit-content;
    --bs-navbar-padding-y: 0 !important;
    --bs-navbar-color: black !important;
    background-color: rgba(224, 255, 255, 0.5);
}


.dropdown-menu {
    background-color: rgba(224, 255, 255, 0.9);
    width: 100%;
}

.navbar-brand {
    text-align: center;
    width: 50%;
    font-size-adjust: initial;
}

/*estilos de sections y articles con sus estilos de fuente y fondo*/
section {
    grid-column: 1/2;
    grid-row: 2;
    background: linear-gradient(rgba(16, 16, 16, 0.8), rgba(16, 16, 16, 0.8));
    margin: 0;
    padding: 15px;
}

section h2,
h3,
h4,
p {
    color: white;
    padding: 15px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

article {
    text-align: center;
}

/*de las redes sociales en pagina contactos */
#articulo-redes {
    background-color: aliceblue;
    width: fit-content;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    text-align: left;
}

/*estilo del mapa incrustado*/
.mapa {
    width: 80vw;
    height: 50vh;
    max-width: 800px;
}

/*estilo de los videos incrustados*/
.video {
    width: 640px;
    max-width: 80vw;
    height: 480px;
    max-height: 50vh;
}

/*estilo de formulario*/
.form {
    background-color: antiquewhite;
    color: black;
    width: 400px;
    height: auto;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
    text-align: left;
}

.form h5 {
    text-align: center;
}

.form input {
    display: block;
    width: 70%;
    color: black;
    margin: 2px 0 2px 0;
    font-size: 15px;
    font-style: normal;
}

.form textarea {
    width: 100%;
    margin: 5px auto;
    color: black;
    font-size: 15px;
    font-style: normal;
    resize: none;
}

#enviar {
    width: 100%;
    background-color: rgb(39, 190, 39);
    color: white;
    padding: 20px;
    border-radius: 5px;
    font-weight: bold;
    border: 0;
}

/*estilo de aside y el nav con los iconos de las redes sociales para compartir*/
aside {
    grid-column: 2;
    grid-row: 2;
    align-self: start;
    z-index: 10;
    margin: 0;
}

/* estilos de los iconos de compartir en redes*/

.aside_social {
    position: fixed;
}

.wrapper {
    padding-left: 0;
    margin-left: 0;
}

.wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
    background: #CD201F;
    color: #ffffff;
}


/*estilo del ancla*/
.icono-arriba {
    width: 50px;
    height: 50px;
    opacity: 0.5;
    /*
    position: fixed;
    margin-top: 200px;*/
}

.icono-arriba:hover {
    opacity: 1;
}


/* estilo del footer*/
footer {
    height: 100%;
    font-size: larger;
    text-align: center;
    padding-left: 5px;
    border: beige solid;
    background-color: aliceblue;
    width: 100%;
}

footer h3 {
    text-align: center;
    color: blueviolet;
}

footer a {
    text-decoration: none;
    display: inline-block;
}

/* estilo de los iconos de los links*/
.icono-redes {
    max-width: 15px;
}

/* estilo del link para descargar el pdf*/
#descarga {
    text-decoration: none;
}

#descarga h3 {
    margin: auto;
    text-decoration: none;
    background-color: aquamarine;
    color: coral;
    width: fit-content;
    border-radius: 10px;
}

/* estilo de la tabla y sus fotos*/
.table {
    background-color: azure;
    vertical-align: middle;
    width: fit-content;
    margin: auto;
    max-width: 80vw;
    border-radius: 10px;
    border-bottom: 0;
}

.foto-tabla {
    max-width: 50%;
    width: fit-content;
}

/*estilo de imagenes enla pagina historia*/
.img_historia {
    float: left;
    padding: 5px;
}

/*estilo imagen pagina inicio*/
.donar {
    max-width: 50vw;
}

/* cambia de lugar el aside por una fila debajo del nav al reducir el tamaño de la panalla*/
@media screen and (max-width: 720px) {

    section {
        grid-row: 3;
        grid-column: 1/3;
    }

    aside {
        grid-row: 2;
        grid-column: 1/3;

    }

    .icono-arriba {
        margin-top: 0;
    }

    .aside_social {
        opacity: 0.5;
    }

    .aside_social:hover {
        opacity: 1;
    }

}